.font-big {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 246.51px;
}

.font-regular {
    color: #A8AABD;
    font-weight: 400;
    font-size: 47.78px;
}

.font-date {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 99.07px;
}

.main-container {
    padding-top: 96px;
}