.App {
  text-align: center;
  background-color: #262A59;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.scrolling-wrapper {
	overflow-x: auto;
}

.svg-sun {
    filter: invert(81%) sepia(28%) saturate(3924%) hue-rotate(359deg) brightness(103%) contrast(104%);
}